* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto-thin' ,'roboto' ,sans-serif;
}

main nav ul div li {
    list-style: none;
}
.carta li {
    list-style: none;
}
a {
    text-decoration: none;
}